@use '../styles/token';
@use '../styles/utils';

.navbar {
  display: flex;
  align-items: center;

  width: 100%;

  background-color: token.$layer-01;
  padding: token.$spacing-04 token.$spacing-08;

  &--contrast {
    background-color: token.$background;
  }

  &__logo {
    width: utils.rem(56px);
  }

  &__list {
    margin-right: token.$spacing-02;
  }
}